In [146]:
import numpy as np
import pandas as pd
import dask.dataframe as dd
import sqlite3
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
%matplotlib inline

In [147]:
file = 'data-short.csv'
bigfile='Hackathon_data_final.csv'

data = pd.read_csv(bigfile, sep="\t", nrows=2)
##df = dd.read_csv(file, sep="\t")

In [148]:
data_columns = data [['BillTo', 'QuantityShipped', 'ItemPrice', 'ItemCost', 'InvoiceDate']]
##df_columns = df [['BillTo', 'QuantityShipped', 'ItemPrice', 'ItemCost', 'InvoiceDate']]

In [149]:
data

,TransactionID,Entity,BillTo,ShipTo,SalesPlan,OrderSourceCode,OrderType,ItemNumber,InvoiceNumber,InvoiceDate,...,FreightApplies,PromoCode,DiscountAmount,PaymentTerms,PaymentTermsDesc,AvgDaysLatePayment,CreditLiimit,SpecialtyCode,PhysicianCount,CustomerStartDate
0,20181101194177811000,P107545,B107545,287605,DFT68MPH,I,C,7093218709,19427488,2018-11-01,...,N,NaN,0.0,STM,Statement date + 24 days,0,0,OBGYN,1,20081017
1,20181101194181071000,P602089,B602089,602089,DFT68MPH,W,C,9004971900,19427814,2018-11-01,...,N,NaN,0.0,STM,Statement date + 24 days,-25,15001,OBGYN,3,20081017

In [175]:
csv_db = create_engine('sqlite:///csv_database.db')

In [176]:
chunksize=1000000
i=0
j=0

for df in pd.read_csv(bigfile,sep="\t", chunksize=chunksize, iterator=True):
    df = df.rename(columns = {c: c.replace(' ','') for c in df.columns})
    df.index += j
    
    df.to_sql('data_use', csv_db, if_exists='append')
    j = df.index[-1]+1
    print('| index: {}'.format(j))

| index: 1000000
| index: 3000000
| index: 6000000
| index: 10000000
| index: 15000000
| index: 21000000
| index: 28000000
| index: 36000000
| index: 45000000
| index: 55000000
| index: 66000000
| index: 78000000
| index: 91000000
| index: 105000000
| index: 120000000
| index: 136000000
| index: 153000000
| index: 171000000
| index: 190000000
| index: 210000000
| index: 231000000
| index: 253000000
| index: 276000000
| index: 300000000
| index: 325000000
| index: 351000000
| index: 378000000
| index: 406000000
| index: 435000000
| index: 465000000
| index: 496000000
| index: 528000000
| index: 561000000
| index: 595000000
| index: 630000000
| index: 666000000
| index: 703000000
| index: 741000000
| index: 780000000
| index: 820000000
| index: 861000000
| index: 903000000
| index: 946000000
| index: 990000000
| index: 1034733504

In [ ]:
df.columns